<main>
  <div class="main-image">
    <img src="/assets/LifeWave-main.png" class="img-fluid" alt="LifeWave-MainImage">
  </div>

  <div class="main-content">

  </div>

  <div class="products">
    <h3 class="products-head">PRODUCT <br> おすすめの製品</h3>
    <div class="products-list">
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </div>
    <h3 class="products-more">MORE 　→ <br> 製品一覧へ</h3>
  </div>
</main>

