<main>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/LifeWave-main.png" alt="main-image-LifeWave" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/LifeWave-main-x39.png" alt="main-image-x39" class="d-block w-100">
      </div>
    </div>
    <a href="#carouselExampleControls" class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a href="#carouselExampleControls" class="carousel-control-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="main-content-wrap">
    <div class="main-content col-8 offset-2">
      <h3 class="main-head">What is LifeWave patch? <br> ライフウェーブパッチとは</h3>
      <p>体のツボに貼るだけで <br> 特定の光周波数でツボや経絡を刺激し、<br> 針を使わないで <br> 鍼治療と同じ効果を得ることができる<br>パッチ（光線療法器具）です。</p>
    </div>
  </div>

  <div class="products">
    <h3 class="products-head">PRODUCT <br> おすすめの製品</h3>
    <div class="products-list">
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </div>
    <h3 class="products-more">MORE 　→ <br> 製品一覧へ</h3>
  </div>
</main>

