<% provide(:title, "ご注文の流れ | ライフウェーブパッチ販売サイト") %>

<div class="backpage-wrap col-10 offset-1">
  <button type="submit" onclick="history.back();" class="backpage" tabIndex="-1">
    <i class="fas fa-chevron-left"></i> 前に戻る
  </button>
</div>

<h3>ご注文の流れ</h3>