<% provide(:title, 'ご注文詳細 | ライフウェーブパッチ販売サイト') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="ordered-detail col-10 offset-1">
      
    </div>
  </div>
</div>