@import '~bootstrap-material-design/scss/bootstrap-material-design';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

*:focus {
  box-shadow:none !important;
}

.form-control {
  background-image: linear-gradient(to top, #2f17b5 2px, rgba(33, 150, 243, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, rgba(0, 0, 0, 0) 1px);
}


a {
  color: black;

  &:hover, &:active {
    color: black;
    text-decoration: none;
  }
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

html {
  font-size: 16px;
}

li {
  list-style: none;
}


// header

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: white;

  .gnav {
    display: flex;
    justify-content: space-between;

    .gnav-logo {
      margin-left: 20px;

      a:hover, a:active {
        opacity: 0.6;
        transition: opacity .3s ease;
      }

      a img {
        width: 135px;
      }
    }

    .gnav-nav {
      display: flex;
      margin-top: 25px;
      margin-right: 20px;

      .gnav-nav-item {
        text-align: center;
        margin-left: 30px;

        &:hover, &:active {
          opacity: 0.5;
          transition: opacity .3s ease;
          cursor: pointer;
        }
      }
    }

    .media-s {
      display: none;
    }
  }
}

// headerの高さのぶんを揃えるため
.header-height {
  width: 100%;
  height: 104.43px;
  background-color: white;
}


// home

main {

  .main-content-wrap {
    background-color: rgb(255, 255, 255);

    .main-content {
      padding-top: 150px;

      .main-head {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
      }

      p {
        text-align: center;
        line-height: 2.6rem;
        font-size: 1.2rem;
        margin-bottom: 50px;
      }

      .main-content-list-wrap {
        width: 100%;

        .main-content-list {
          width: 100%;
          margin: 0 auto;

          .main-content-list-item {
            background-color: rgb(43, 43, 43);
            color: white;
            margin: 1rem;
            border-radius: 10px;
            display: table;
            height: 4rem;

            p {
              font-size: 1.1rem;
              text-align: center;
              line-height: 1.3rem;
              display: table-cell;
              vertical-align: middle;
            }

          }
        }
      }
    }
  }
}


// 会員登録画面（users/new）

.signup-head {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  border-bottom: 3px solid black;
  width: 150px;
  padding-bottom: 10px;
}

.signup-wrap {
  .essential-icon {
    background-color: rgb(209, 87, 87);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
    margin-left: 15px;
  }

  .arbitrary-icon {
    background-color: rgb(121, 117, 117);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
    margin-left: 15px;
  }

  .form-p {
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 50px;
  }

  .form-check {
    margin-top: 10px;

    .form-check-input {
      position: relative;
      top: 1px;
    }

    .form-check-label {
      font-size: 0.9rem;
    }
  }

  .prefecture-wrap {
    padding-left: 0;
  }

  .form-address-street {
    margin-top: 10px;
  }

  .form-address-building {
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .return-page {
    margin-bottom: 100px;
  }
}


// マイページ(users/id)

.mypage-head {
  text-align: center;
  padding-top: 30px;
  font-size: 1.8rem;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  width: 170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.mypage {

  .mypage-minihead {
    margin-bottom: 30px;
  }

  .mypage-list {

    .mypage-list-item {

      .mypage-list-item-big {
        font-size: 1.5rem;
        border: 3px solid rgb(233, 233, 233);
        width: 450px;
        height: 56px;
        align-items: center;
        margin: 0 auto;

        a {
          line-height: 50px;
          display: block;

          i {
            margin-right: 13px;
            margin-left: 18px;
            line-height: 50px;
          }

          &:hover, &:active {
            opacity: 0.6;
            transition: opacity .4s ease;
          }
        }
      }

      .mypage-list-item-p {
        width: 450px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }
  }

  .mypage-logout {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}


// footer

footer {
  width: 100%;
  border-top: 1px solid #e6e4e4;

  .row {
    width: 100%;
    margin: 0 auto;
  }

  .footer-box {
    width: 992px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;

    .footer-head {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .footer-category {

      .category-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      ul {
        margin-bottom: 0;

        li {
          margin-right: 50px;

          a {
            font-size: 14px;

            &:hover, &:active {
              opacity: 0.5;
              transition: opacity .3s ease;
            }
          }
        }
      }
    }

    .footer-service {

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {

          a {
            font-size: 14px;

            &:hover, &:active {
              opacity: 0.5;
              transition: opacity .3s ease;
            }
          }
        }
      }
    }
  }

  .footer-end {
    text-align: center;
    margin-bottom: -25px;
    margin-top: 50px;
    font-size: 13px;
  }
}



// タブレットサイズ（768px）以下
@media screen and (max-width:768px) {

  html {
    font-size: 2vw;
  }

  // header

  header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    .gnav {
      display: block;

      .gnav-logo {
        width: 90px;
        margin: 0 auto;
        z-index: 900;

        a img {
          width: 90px;
          margin-top: -10px;
        }
      }

      .gnav-nav {
        display: none;
      }

      .media-s {
        display: block;

        .cart-icon {
          display: block;
          position: fixed;
          left: 13px;
          top: 13px;

          a {
            z-index: 900;

            &:hover, &:active {
              opacity: 0.6;
              transition: opacity .3s ease;
            }
          }
        }

        /*　ハンバーガーボタン　*/
        .hamburger {
          display : block;
          position: fixed;
          z-index : 4;
          right : 13px;
          top   : 10px;
          width : 42px;
          height: 42px;
          cursor: pointer;
          text-align: center;
        }

        .hamburger span {
          display : block;
          position: absolute;
          width   : 20px;
          height  : 1.3px ;
          left    : 6px;
          background : #555;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition   : 0.3s ease-in-out;
          transition        : 0.3s ease-in-out;
        }
        .hamburger span:nth-child(1) {
          top: 10px;
        }
        .hamburger span:nth-child(2) {
          top: 17px;
        }
        .hamburger span:nth-child(3) {
          top: 24px;
        }

        /* ナビ開いてる時のボタン */
        .hamburger.active span:nth-child(1) {
          top : 16px;
          left: 6px;
          background :#fff;
          -webkit-transform: rotate(-45deg);
          -moz-transform   : rotate(-45deg);
          transform        : rotate(-45deg);
        }

        .hamburger.active span:nth-child(2),
        .hamburger.active span:nth-child(3) {
          top: 16px;
          background :#fff;
          -webkit-transform: rotate(45deg);
          -moz-transform   : rotate(45deg);
          transform        : rotate(45deg);
        }

        nav.globalMenuSp {
          position: fixed;
          z-index : 2;
          top  : 0;
          left : 0;
          color: #fff;
          background: rgba(0,0,0,0.7);
          text-align: center;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          transition: opacity .6s ease, visibility .6s ease;
        }

        nav.globalMenuSp ul {
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }

        nav.globalMenuSp ul li {
          list-style-type: none;
          padding: 0;
          width: 100%;
          transition: .4s all;
        }
        nav.globalMenuSp ul li:last-child {
          padding-bottom: 0;
        }
        nav.globalMenuSp ul li:hover{
          background :#ddd;
        }

        nav.globalMenuSp ul li a {
          display: block;
          color: #fff;
          padding: 1em 0;
          text-decoration :none;
        }

        /* このクラスを、jQueryで付与・削除する */
        nav.globalMenuSp.active {
          opacity: 100;
          pointer-events: auto;
        }
      }
    }
  }

  // headerの高さのぶんを揃えるため
  .header-height {
    width: 100%;
    height: 57.28px;
  }


  // footer

  footer {
    width: 100%;

    .row {
      width: 100%;
      margin: 0 auto;
    }

    .footer-box {
      width: 90%;
      margin: 0 auto;
      display: block;
      margin-top: 80px;

      .footer-category {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;

        .category-box {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          ul {

            li {
              width: 100%;
              margin: 0 auto;

              a {
                font-size: 11px;
              }
            }
          }
        }
      }

      .footer-service {
        width: 100%;

        ul {
          justify-content: space-evenly;

          li {
            text-align: center;
            width: 110px;
            margin: 0 auto;
            border-bottom: 1px solid #555;
            padding-bottom: 5px;

            a {
              font-size: 11px;
            }
          }
        }
      }
    }

    .footer-end {
      font-size: 10px;
    }
  }
}




// スマホサイズ（425px）以下
@media screen and (max-width:425px) {

  html {
    font-size: 2.5vw;
  }

  // header

  header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    .gnav {
      display: block;

      .gnav-logo {
        width: 70px;
        margin: 0 auto;

        a img {
          width: 70px;
          margin-top: 0px;
        }
      }
    }

    .media-s {

      .cart-icon {
        font-size: 15px;
      }
    }
  }

  // headerの高さのぶんを揃えるため
  .header-height {
    width: 100%;
    height: 50.14px;
  }


  // マイページ(users/id)

  .mypage-head {
    margin-bottom: 40px;
  }

  .mypage {
    .mypage-list {
      .mypage-list-item {
        .mypage-list-item-big {
          width: 230px;
          height: 36px;
          margin: 0 auto;

          a {
            line-height: 30px;

            i {
              line-height: 30px;
              margin-left: 8px;
              margin-right: 5px;
            }
          }
        }

        .mypage-list-item-p {
          width: 230px;
          margin: 0 auto;
          margin-top: 5px;
          margin-bottom: 20px;
        }
      }
    }
  }


  // footer

  footer {
    width: 100%;

    .row {
      width: 100%;
      margin: 0 auto;
    }

    .footer-box {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-top: 50px;

      .footer-head {
        text-align: center;
      }

      .footer-category {
        width: 100%;

        .category-box {
          display: block;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 50px;

          ul {
            width: 100%;

            li {
              width: 100%;
              text-align: center;
              margin-bottom: 10px;
            }
          }
        }
      }

      .footer-service {
        width: 80%;
        margin: 0 auto;

        ul {
          width: 100%;
          display: block;

          li {
            width: 110px;
            margin: 0 auto;
            text-align: center;
            border-bottom: 1px solid #555;
            padding-bottom: 5px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}







