@import '~bootstrap-material-design/scss/bootstrap-material-design';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: black;

  &:hover, &:active {
    color: black;
    text-decoration: none;
  }
}

body {
  width: 100%;
}

html {
  font-size: 16px;
}

li {
  list-style: none;
}


// header

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: white;

  .gnav {
    display: flex;
    justify-content: space-between;

    .gnav-logo {
      margin-left: 20px;

      a:hover, a:active {
        opacity: 0.6;
        transition: opacity .3s ease;
      }

      a img {
        width: 135px;
      }
    }

    .gnav-nav {
      display: flex;
      margin-top: 25px;
      margin-right: 20px;

      .gnav-nav-item {
        text-align: center;
        margin-left: 30px;

        &:hover, &:active {
          opacity: 0.5;
          transition: opacity .3s ease;
          cursor: pointer;
        }
      }
    }

    .media-s {
      display: none;
    }
  }
}

// headerの高さのぶんを揃えるため
.header-height {
  width: 100%;
  height: 104.43px;
  background-color: white;
}


// home

main {

  .main-content-wrap {
    background-color: rgb(239, 242, 250);

    .main-content {
      padding-top: 150px;

      .main-head {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
      }

      p {
        text-align: center;
        line-height: 2.6rem;
        font-size: 1.2rem;
      }
    }
  }
}



// footer

footer {
  width: 100%;
  border-top: 1px solid #e6e4e4;

  .row {
    width: 100%;
    margin: 0 auto;
  }

  .footer-box {
    width: 992px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;

    .footer-head {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .footer-category {

      .category-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      ul {
        margin-bottom: 0;

        li {
          margin-right: 50px;

          a {
            font-size: 14px;

            &:hover, &:active {
              opacity: 0.5;
              transition: opacity .3s ease;
            }
          }
        }
      }
    }

    .footer-service {

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {

          a {
            font-size: 14px;

            &:hover, &:active {
              opacity: 0.5;
              transition: opacity .3s ease;
            }
          }
        }
      }
    }
  }

  .footer-end {
    text-align: center;
    margin-bottom: -25px;
    margin-top: 50px;
    font-size: 13px;
  }
}



// タブレットサイズ（768px）以下
@media screen and (max-width:768px) {

  html {
    font-size: 2vw;
  }

  // header

  header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    .gnav {
      display: block;

      .gnav-logo {
        width: 90px;
        margin: 0 auto;
        z-index: 900;

        a img {
          width: 90px;
          margin-top: -10px;
        }
      }

      .gnav-nav {
        display: none;
      }

      .media-s {
        display: block;

        .cart-icon {
          display: block;
          position: fixed;
          left: 13px;
          top: 13px;

          a {
            z-index: 900;

            &:hover, &:active {
              opacity: 0.6;
              transition: opacity .3s ease;
            }
          }
        }

        /*　ハンバーガーボタン　*/
        .hamburger {
          display : block;
          position: fixed;
          z-index : 4;
          right : 13px;
          top   : 10px;
          width : 42px;
          height: 42px;
          cursor: pointer;
          text-align: center;
        }

        .hamburger span {
          display : block;
          position: absolute;
          width   : 20px;
          height  : 1.3px ;
          left    : 6px;
          background : #555;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition   : 0.3s ease-in-out;
          transition        : 0.3s ease-in-out;
        }
        .hamburger span:nth-child(1) {
          top: 10px;
        }
        .hamburger span:nth-child(2) {
          top: 17px;
        }
        .hamburger span:nth-child(3) {
          top: 24px;
        }

        /* ナビ開いてる時のボタン */
        .hamburger.active span:nth-child(1) {
          top : 16px;
          left: 6px;
          background :#fff;
          -webkit-transform: rotate(-45deg);
          -moz-transform   : rotate(-45deg);
          transform        : rotate(-45deg);
        }

        .hamburger.active span:nth-child(2),
        .hamburger.active span:nth-child(3) {
          top: 16px;
          background :#fff;
          -webkit-transform: rotate(45deg);
          -moz-transform   : rotate(45deg);
          transform        : rotate(45deg);
        }

        nav.globalMenuSp {
          position: fixed;
          z-index : 2;
          top  : 0;
          left : 0;
          color: #fff;
          background: rgba(0,0,0,0.7);
          text-align: center;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          transition: opacity .6s ease, visibility .6s ease;
        }

        nav.globalMenuSp ul {
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }

        nav.globalMenuSp ul li {
          list-style-type: none;
          padding: 0;
          width: 100%;
          transition: .4s all;
        }
        nav.globalMenuSp ul li:last-child {
          padding-bottom: 0;
        }
        nav.globalMenuSp ul li:hover{
          background :#ddd;
        }

        nav.globalMenuSp ul li a {
          display: block;
          color: #fff;
          padding: 1em 0;
          text-decoration :none;
        }

        /* このクラスを、jQueryで付与・削除する */
        nav.globalMenuSp.active {
          opacity: 100;
          pointer-events: auto;
        }
      }
    }
  }

  // headerの高さのぶんを揃えるため
  .header-height {
    width: 100%;
    height: 57.28px;
  }


  // footer

  footer {
    width: 100%;

    .row {
      width: 100%;
      margin: 0 auto;
    }

    .footer-box {
      width: 90%;
      margin: 0 auto;
      display: block;
      margin-top: 80px;

      .footer-category {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;

        .category-box {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          ul {

            li {
              width: 100%;
              margin: 0 auto;

              a {
                font-size: 11px;
              }
            }
          }
        }
      }

      .footer-service {
        width: 100%;

        ul {
          justify-content: space-evenly;

          li {
            text-align: center;
            width: 110px;
            margin: 0 auto;
            border-bottom: 1px solid #555;
            padding-bottom: 5px;

            a {
              font-size: 11px;
            }
          }
        }
      }
    }

    .footer-end {
      font-size: 10px;
    }
  }
}




// スマホサイズ（425px）以下
@media screen and (max-width:425px) {

  html {
    font-size: 2.5vw;
  }

  // header

  header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    .gnav {
      display: block;

      .gnav-logo {
        width: 70px;
        margin: 0 auto;

        a img {
          width: 70px;
          margin-top: -10px;
        }
      }
    }
  }

  // headerの高さのぶんを揃えるため
  .header-height {
    width: 100%;
    height: 50.14px;
  }

  // footer

  footer {
    width: 100%;

    .row {
      width: 100%;
      margin: 0 auto;
    }

    .footer-box {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-top: 50px;

      .footer-head {
        text-align: center;
      }

      .footer-category {
        width: 100%;

        .category-box {
          display: block;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 100px;

          ul {
            width: 100%;

            li {
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .footer-service {
        width: 80%;
        margin: 0 auto;

        ul {
          width: 100%;
          display: block;

          li {
            width: 110px;
            margin: 0 auto;
            text-align: center;
            border-bottom: 1px solid #555;
            padding-bottom: 5px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}







