<% provide(:title, 'クレジットカード情報入力 | ライフウェーブパッチ販売サイト') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="card-new col-8 offset-2 col-lg-6 offset-lg-3">
      <h3 class="card-new-head my-5">クレジットカード情報入力</h3>
      <div class="card-form ml-5">
        <%= render 'shared/card-form' %>
      </div>
    </div>
  </div>
</div>