<% provide(:title, 'ご登録カード情報 | ライフウェーブパッチ販売サイト') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="card-info">
      <div class="card-info-content">
        <h3 class="card-info-head">ご登録カード情報</h3>
        <div class="card-info-content-box">
          <%= image_tag  %>
        </div>
      </div>
    </div>
  </div>
</div>